{% extends 'index.html' %}

{% block title %}
<h1>Tentang</h1>
{% endblock %}

{% block body %}
<p>Website ini dibuat untuk memprediksi kategori berita dari CNN Indonesia. Website ini menggunakan model machine learning <b>Logistic Regression</b> yang dibuat dengan menggunakan data berita dari CNN Indonesia dan menghasilkan prediksi 2 kategori yaitu Nasional & Internasional.</p>
<p>Website ini dibuat oleh <a href="https://github.com/ranwiesiel">Ranwiesiel</a></p>
<p>Link Repo/Source: <a href="https://github.com/Ranwiesiel/flask-cnn-id-news-classification">flask-cnn-id-news-classification</a></p>
{% endblock %}